<html>

<head>
    <title>Movies</title>
</head>
<!-- 
    TODO: GET MORE INFO IN UI
    TODO: FIX LAYOUT
-->
<body>
    <% movies.forEach(function(movie) { %>
    <div class="movie">
        <a href="/movies/<%= movie.cineworld_id%>"><%= movie.Title %></a>
    </div>
    <% });%>
</body>

</html>