<html>

<head>
    <title>Movie</title>
</head>
<!-- 
    TODO: GET MORE INFO IN UI
    TODO: FIX LAYOUT
-->
<body>
    <div class="movie">
        <%= movie.Title %>
        <%= movie.Price.cineWorld %>
        <%= movie.Price.filmWorld %>
    </div>
</body>

</html>