<html>

<head>
    <title>Movie</title>
</head>

<body>
    <div class="movie">
        <%= movie.Title %>
        <%= movie.cineworld_price %>
        <%= movie.filmworld_price %>
    </div>
</body>

</html>